{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        @font-face {
            font-family: 'OpenSansLight';
            src: url("{% static '/OpenSans-Light.ttf' %}");
        }
        body {
            font-family: 'OpenSansLight';
            font-size: 85%;
        }
    </style>
</head>
<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
<body onload="window.print()">
    <div style="display: flex; align-items: center; justify-content: center;">
        <img class="mb-4" src="{% static '/img/FS_Arvello_nobg_Final.png' %}" alt="" width="230" height="115">
        <p style="margin-left: 20px; font-size: 0.7em;">{{subject.clientName}}
            <br>{{subject.addressLine1}}
            <br>{{subject.postalCode}} {{subject.town}}
            <br>{{subject.province}}
            <br>OIB: {{subject.OIB}}
            <br>IBAN: {{subject.IBAN}}
            <br>Telefon: {{subject.phoneNumber}}
            <br>E-mail: {{subject.emailAddress}}
        </p> 
        <div style="margin-left: 20px; padding: 10px; border: 1px solid black; border-radius: 10px;">
            <p>{{client.clientName}}
                <br>{{client.addressLine1}}
                <br>{{client.province}}
                <br>{{client.VATID}}
            </p>
        </div>
    </div>
        <h1 style="text-align: center;">Ponuda {{offer.number}}</h1>
        <p style="text-align: center;">Datum i vrijeme izrade: {{offer.date_created}}<br>Datum Ponudaa: {{offer.date}}<br>Datum dospijeća: {{offer.dueDate}}</p>

    <div class="table-responsive" style="justify-content: center; display: flex; align-items: center;">
        <table class="table table-striped table-sm" style="font-size: 85%">
          <thead>
            <tr>
                <th scope="col">Naslov</th>
                <th scope="col">Količina</th>
                <th scope="col">Jedinična cijena</th>
                {% if offer.hasRabat %}
                <th scope="col">Rabat</th>
                {% endif %}
                {% if offer.hasDiscount %}
                <th scope="col">Popust</th>
                {% endif %}
                <th scope="col">Iznos bez poreza</th>
                <th scope="col">Porez</th>
                <th scope="col">Ukupno</th>
            </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                  <td>{{ product.product.title }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.product.price }} {{ product.product.currency }}</td>
                  {% if offer.hasRabat %}
                      {% if product.rabat != None and product.rabat != 0 %}
                          <td>{{ product.rabat }}%</td>
                      {% else %}
                          <td></td>
                      {% endif %}
                  {% endif %}
                  {% if offer.hasDiscount %}
                      {% if product.discount != None and product.discount != 0 %}
                          <td>{{ product.discount }}%</td>
                      {% else %}
                          <td></td>
                      {% endif %}
                  {% endif %}
                  <td>{{ product.pretotal }} {{ product.product.currency }}</td>
                  <td>{{ product.product.taxPercent }} %</td>
                  <td>{{ product.total }} {{ product.product.currency }}</td>
              </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <div style="flex: 1; margin-right: 20px; font-size: 0.9em;">
            <div>Molimo Vas da iznos uplatite na naš račun do naznačenog roka ukoliko ste suglasni s ponudom.</div>
            <div>Poziv na broj: {{offer.poziv_na_broj}}<br>Hvala!</div>
            <p style="margin-top: 0.1cm;"><strong>Napomena:</strong> ponuda je pravovaljana bez pečata i/ili potpisa jer je elektronički izrađena.</p>
            <img style="width: 5.5cm; height: auto; margin-left: 3cm" src="data:image/png;base64,{{ barcode_image|safe }}">
            <p style="margin-left: 3.5cm;"><strong>Referent</strong> - {{ request.user.get_full_name }}</p>
        </div>
        <table class="table table-striped right-align-table" border="1" style="flex: 0 0 auto; width: 7cm;">
            <tr>
                <th style="font-weight: normal;">Cijena bez poreza</th>
                <th style="font-weight: normal;">{{offer.pretax}} {{offer.curr}}</th>
            </tr>
            <tr>
                <th style="font-weight: normal;">Porez</th>
                <th style="font-weight: normal;">{{offer.tax}} {{offer.curr}}</th>
            </tr>
            {% if offer.hasRabat %}
                <tr>
                    <th style="font-weight: normal;">Ukupan rabat</th>
                    <th style="font-weight: normal;">{{invoice.tolrabat}} {{invoice.curr}}</th>
                </tr>
            {% endif %}
            {% if offer.hasDiscount %}
            <tr>
                <th style="font-weight: normal;">Ukupan popust</th>
                <th style="font-weight: normal;">{{invoice.toldiscount}} {{invoice.curr}}</th>
            </tr>
            {% endif %}
            <tr>
                <td><strong>Ukupno</strong></td>
                <td><strong>{{offer.price_with_vat}} {{offer.curr}}</strong></td>
            </tr>
        </table>
    </div>