lib64
lib
include
bin
.venv
arvello/db.sqlite3
*migrations*
*pycache*
.vscode
*media/*
#arvello/arvelloapp/migrations/*
arvello/arvelloapp/migrations/000*.py
arvello/arvelloapp/migrations/__pycache__
.env
/tmp/*.pdf
*/__pycache__/*
docs/

# Ignore large local backup artifacts moved to /home/frano/Documents
backups/pre-purge-backup-20260127-210505.bundle
archives/docs-backup-20260127-210505.tar.gz
