lib64
lib
include
bin
.venv
arvello/db.sqlite3
*migrations*
*pycache*
.vscode
*media/*
#arvello/arvelloapp/migrations/*
arvello/arvelloapp/migrations/000*.py
arvello/arvelloapp/migrations/__pycache__
.env
/tmp/*.pdf
