asgiref==3.7.2
beautifulsoup4==4.12.2
chardet==5.2.0
Django==5.0.3
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
django-wkhtmltopdf==3.4.0
pillow==10.2.0
reportlab==4.0.8
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
django-clearcache==1.2.1