asgiref==3.8.1
beautifulsoup4==4.13.0b2
chardet==5.2.0
Django==4.2.7
django-crispy-forms==2.1
django-wkhtmltopdf==3.4.0
pillow==10.2.0
reportlab==4.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
django-clearcache==1.2.1
requests==2.31.0
xhtml2pdf == 0.2.15
python-barcode==0.15.1