asgiref==3.8.1
beautifulsoup4==4.13.0b2
chardet==5.2.0
Django==5.0.6
crispy_bootstrap5
django-crispy-forms==2.1
pillow==11.0.0
reportlab==4.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
django-clearcache==1.2.1
requests==2.31.0
python-barcode==0.15.1
django-localflavor==4.0
django-bootstrap5==24.2
#django-otp==1.5.1